# Production
node_modules/
dist/
*.tsbuildinfo

# Development
.env
.env.local
.env.*.local
.env.production
.env.development
.vscode/settings.json
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
.wrangler/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.swp
*.swo
*~

# Keep example env
!.env.example
